.container-cart{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #7F669D;
}
.bubble-counter{
    width: 30px;
    height: 30px;
    border: 2px solid #7F669D;
    border-radius: 50%;
    position: absolute;
    top: -50%;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}