.categories {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

.navbar-item {
  list-style: none;
  color: red;
  font-weight: bold;
}

.active-navbar{
    list-style: none;
    color: #7F669D;
    font-weight: bold;
    font-size: 1.2rem;
}
